<% include ../partials/header %>
<div class="container">
 <div class="row" style="margin: 0 auto;">
   <div style="width: 30%; margin: 20px auto;">
     <h1 style="text-align : center;">Edit your Comment </h1>
     <form action="/campgrounds/<%= campground_id %>/comments/<%=comment._id%>?_method=PUT" method="POST">

       <!-- we can change the campground._id to just a variable campground_id because we don't need the whole campground data so just send the required part -->
       <div class="form-group">
         <input type="text" class="form-control" name="comment[text]" value="<%=comment.text%>">
       </div>
       <!-- <div class="form-group">
         <input type="text" class="form-control" name="comment[author]" placeholder="Author">
       </div> -->
       <button class="btn btn-lg btn-primary btn-block"> Submit! </button>
     </form>
   </div>
   <a href="/campgrounds">Go Back!</a>
 </div>
</div>
<% include ../partials/footer %>
